<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Karol Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--引入bootstrup-->
    <!--引入jQuery-->
    <script th:src="@{/js/jquery-3.2.1.min.js}" src="/js/jquery-3.2.1.min.js"></script>
    <!--引入bootstrup js-->
    <script th:src="@{/js/bootstrap.min.js}" src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>

</head>
<body>
<!--引用封装的上边菜单栏-->
<div th:replace="navigation :: nav"></div>

<div class="jumbotron">
    <h1>出错啦!</h1>
    <p th:text="${message}"></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>


</body>
</html>